@import 'mixins';
@import 'typography';
@import 'variables';



@mixin styling {
/* ========== START WEBSITE STYLES ==========  */



/***** COMMON ITEMS *****/
.hero-image {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 24px;
}


.page-title {
	position: relative;
	margin-bottom: 24px;

	h1 {
		color: $white;
		line-height: 1;
		text-transform: uppercase;
		background-color: $orange;
		margin-bottom: 0;
		padding-left: 15px;
		padding-top: 31px;
		padding-bottom: 34px;
	}

	.cta {
		font-size: 30px;
		color: $white;
		background-color: $light-blue;
		height: 100%;
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		align-items: center;

		span {
			display: block;
			margin-right: 15px;
		}

		i {
			margin-left: 15px;
		}
	}

	.text-container {
		background-color: rgba($blue, 0.1);
		padding-top: 22px;
		padding-bottom: 38px;

		p {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.panel-container {
	margin-bottom: 24px;

	.panel {
		background-color: rgba($blue, 0.1);

		h1 {
			color: $white;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 0;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 25px;
			padding-bottom: 28px;

			span {
				font-weight: 600;
				font-size: 75%;
				text-transform: none;
			}

			i {
				float: right;
			}
		}

		.title-bar {
			&.blue {
				background-color: $blue;
			}

			&.light-blue {
				background-color: $light_blue;
			}

			&.orange {
				background-color: $orange;
			}

			&.purple {
				background-color: $purple;
			}

			&.teal {
				background-color: $teal;
			}

			img {
				margin-left: 15px;
				margin-top: 17px;
				margin-bottom: 11px;
			}
		}

		.text-container {
			padding-top: 22px;
			padding-bottom: 16px;

			p {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		.panel {
			background-color: transparent;
		}
	}
}



/***** 5 REASONS *****/
.five-reasons {
	margin-bottom: 24px;

	h1 {
		font-size: 55px;
		font-weight: 600;
		color: $blue;
		text-align: center;
		margin-top: 26px;
		margin-bottom: 21px;
	}

	.cell {
		background-color: rgba($blue,0.1);

		.cell {
			background-color: transparent;

			@include breakpoint(xsmall) {
				padding-left: 10px;
				padding-right: 10px;
			}

			@include breakpoint(medium) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	.box {
		text-align: left;
		background-color: $blue;
		margin-top: 40px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 58px;
		padding-bottom: 31px;
		position: relative;

		.badge {
			background-color: transparent;
			padding: 0;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate(-50%,-50%);
			border: none;
		}
	}

	p {
		font-size: 20px;
		color: $white;
		line-height: 1.2;
		margin-bottom: 0;

		&.title {
			font-size: 38px;
			font-weight: 600;
			line-height: 1;
			margin-bottom: 19px;
		}
	}

	#carousel {
		.slick-dots {
			padding: 0;
			margin: 0;
			margin-left: auto;
			margin-right: auto;
			display: inline-block;
			list-style-type: none;

			@include clearit;

			li {
				margin-left: 5px;
				margin-right: 5px;
				float: left;

				&.slick-active {
					button {
						background-color: $blue;
					}
				}

				button {
					background-color: transparent;
					width: 12px;
					height: 12px;
					text-indent: -9999px;
					position: relative;
					border: 1px solid #666;
					border-radius: 50%;
				}
			}
		} 
	}
}



/***** GOOGLE MAP *****/
#gmap {
	height: 400px;
	margin-bottom: 24px;
}



/***** COURSES LIST *****/
.courses-list {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}

		&.register {
			background-color: $teal;
		}

		a {
			font-size: 30px;
			font-weight: 700;
			color: $white;
			text-transform: uppercase;
			background-color: rgba($blue, 0.3);
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 20px;
			padding-bottom: 20px;
			display: block;

			i {
				line-height: 1.6;
				float: right;
			}
		}
	}
}



/***** HEADER *****/
header {
	background-color: $white;
	width: 100%;

	@include breakpoint(xsmall) {
		position: fixed;
		z-index: 1000;
	}

	@include breakpoint(large) {
		position: relative;
		z-index: 1000;
	}

	&#main-header {
		padding-top: 22px;
		padding-bottom: 22px;

		.cell {
			&> .grid-y {
				height: 100%;
			}
		}

		ul {
			display: inline-block;
			margin-left: 0;
			margin-bottom: 0;
			list-style-type: none;

			@include clearit;

			li {
				float: left;

				&.active {
					a {
						color: $orange;
					}
				}

				a {
					font: inherit;
					font-weight: 600;
					line-height: 26px;
					height: 26px;
					color: $blue;
					text-transform: uppercase;
					display: block;
				}
			}

			&.language-navigation {
				margin-left: auto;
				margin-top: -8px;

				li {
					color: $blue;

					a {
						font-size: 15px;
						font-weight: normal;
					}
				}
			}

			&.main-navigation {
				margin-left: auto;

				li {
					margin-left: 27.5px;
					margin-right: 27.5px;

					&:last-child {
						margin-right: 55px;
					}

					a {
						font-size: 20px;
						line-height: 26px;
					}
				}
			}

			&.share-navigation {
				li {
					margin-left: 12px;
					margin-right: 12px;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					a {
						font-size: 26px;
					}
				}
			}
		}
	}

	[data-toggle] {
		color: $orange;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}
}



/***** FOOTER *****/
footer {
	&#main-footer {
		background-color: $blue;
		padding-top: 36px;
		padding-bottom: 40px;

		.cell {
			&> .grid-y {
				@include breakpoint(xsmall) {
					height: auto;
				}

				@include breakpoint(large) {
					height: 100%;
				}
			}
		}

		p {
			color: $white;

			&.copyright {
				font-size: 10px;
				
				@include breakpoint(xsmall) {
					margin-bottom: 36px;
				}

				@include breakpoint(large) {
					margin-bottom: 5px;
				}
			}

			&.navigation-title {
				font-size: 20px;
				font-weight: 600;
				margin-bottom: 2px;

				span {
					color: $orange;
				}
			}
		}

		a {
			&.t-c {
				color: $white;
				
				@include breakpoint(xsmall) {
					display: inline-block;
					margin-left: 7.5px;
					margin-right: 7.5px;
				}

				@include breakpoint(large) {
					display: block;
					margin-left: 0;
					margin-right: 0;
				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				span {
					border-bottom: 1px solid $white;
				}
			}
		}

		address {
			font-size: 20px;
			color: $white;

			@include breakpoint(xsmall) {
				margin-bottom: 8px;
			}

			@include breakpoint(large) {
				margin-bottom: 50px;
			}

			&:last-child {
				@include breakpoint(xsmall) {
					margin-bottom: 41px;
				}

				@include breakpoint(large) {
					margin-bottom: 0;
				}
			}

			a {
				font: inherit;
				color: inherit;
			}
		}

		ul {
			display: inline-block;
			margin-left: 0;
			margin-bottom: 0;
			list-style-type: none;

			@include clearit;

			a {
				color: $white;
				text-transform: uppercase;
				display: block;
			}

			&.main-navigation {
				margin-bottom: 47px;

				li {
					&.active {
						a {
							color: $orange;
						}
					}

					a {
						font-size: 20px;
						font-weight: 600;
						line-height: 26px;
						height: 26px;
						margin-bottom: 5px;
					}
				}
			}

			&.share-navigation {
				margin-left: auto;

				@include breakpoint(xsmall) {
					margin-bottom: 35px;
				}

				@include breakpoint(large) {
					margin-bottom: 0;
				}

				li {
					margin-left: 14px;
					margin-right: 14px;
					margin-bottom: 0;
					float: left;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					a {
						font-size: 50px;
						line-height: 1;
					}
				}
			}
		}

		.t-c-container {
			@include breakpoint(xsmall) {
				text-align: center;
				margin-bottom: 17px;
			}

			@include breakpoint(large) {
				text-align: left;
				margin-bottom: 0;
			}
		}

		.logo {
			@include breakpoint(xsmall) {
				margin-bottom: 30px;
			}

			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}

		.text-hope-to-see-you-soon {

			@include breakpoint(xsmall) {
				margin-bottom: 15px;
			}

			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}

		.share-container {
			@include breakpoint(xsmall) {
				width: 100%;
				text-align: center;
			}

			@include breakpoint(large) {
				width: auto;
				text-align: left;
				margin-left: auto;
			}
		}
	}
}




/***** OFF CANVAS *****/
.off-canvas {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			&.active {
				a {
					color: $orange;
				}
			}

			a {
				color: $blue;
			}
		}

		&.language-navigation {	
			padding-left: 15px;
			border-bottom: 1px solid #e1e1e1;

			@include clearit;

			li {
				color: $blue;
				line-height: 42px;
				height: 42px;
				float: left;

				a {
					font-size: 20px;
					font-weight: normal;
					line-height: 42px;
					height: 42px;
				}
			}
		}

		&.main-navigation {
			li {
				border-bottom: 1px solid #e1e1e1;

				a {
					font-size: 20px;
					font-weight: 600;
					line-height: 42px;
					height: 42px;
					padding-left: 15px;
					padding-right: 15px;
					outline: 0;
					text-transform: uppercase;
				}
			}
		}

		&.share-navigation {
			display: inline-block;

			@include clearit;

			li {
				margin-left: 12px;
				margin-right: 12px;
				float: left;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				a {
					font-size: 26px;
				}
			}
		}
	}
}



#home-page {
	.hero-image {
		.grid-container {
			height: 100%;

			.grid-x {
				height: 100%;
				display: block;
				position: relative;

				#badge-be-smart-get-ready {
					position: absolute;

					@include breakpoint(xsmall) {
						max-width: 50%;
						left: 50%;
						right: auto;
						top: auto;
						bottom: 24px;
						transform: translateX(-50%);
					}

					@include breakpoint(large) {
						left: auto;
						right: 0;
						top: 50%;
						bottom: auto;
						transform: translateY(-50%);
					}
				}
			}
		}
	}	

	.panel-container {
		margin-bottom: 0;

		.panel {
			margin-bottom: 24px;
		}

		&#etc-tv {
			margin-bottom: 24px;

			.panel {
				margin-bottom: 0;
			}
		}
	}
}

/* ========== END WEBSITE STYLES ==========  */
}