@import url('https://fonts.googleapis.com/css?family=Barlow:400,600,700|Crimson+Text:400,400i');

$barlow: 'Barlow', sans-serif;
$crimson: 'Crimson Text', serif;

h1, h2, h3, h4 {
	font-family: $barlow;
	font-weight: 700;
}

p, li, a {
	font-family: $barlow;
	font-weight: 400;
}

address {
	font-family: $crimson;
}